@media only screen and (max-width: 600px) {
  .name-box {
    position: relative;
    left: 246px;
    bottom: 156px;
  }
  .percent-box {
    position: relative;
    left: 246px;
    bottom: 156px;
  }
}
